{% extends 'mailing/base.html' %}
{% load static %}
{% block content %}
<div class="list-unstyled ps-0">
    <div class="container">
        <h2>Рассылки</h2>
        <div class="d-flex justify-content-end">
           <a type="button" class="btn btn-outline-primary" href="{% url 'mailing:mailing_create' %}">Новая рассылка</a>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for mailing in object_list %}
            <div class="card-body">
                <p class="card-text">{{ mailing.message.theme }}</p>
                <p class="card-text">{{ mailing.message.content }}</p>
                {% for recipient in mailing.recipients.all %}
                <li>{{ recipient }}</li>
                {% endfor %}
                <p class="card-text">{{ mailing.status }}</p>
                {% if mailing.status == 'created' %}
                    <p>{% if mailing.start_mailing %} Дата и время начала рассылки: {{ mailing.start_mailing|date:"d.m.Y H:i" }} {% endif %}</p>
                {% elif mailing.status == 'stopped' %}
                    <p>{% if mailing.start_mailing %} Дата и время начала рассылки: {{ mailing.start_mailing|date:"d.m.Y H:i" }} {% endif %}</p>
                    <p>{% if mailing.end_mailing %} Дата и время окончания рассылки: {{ mailing.end_mailing|date:"d.m.Y H:i" }} {% endif %}</p>
                {% endif %}
                {% if perms.mailing.can_stop_mailing %}
                <a type="button" class="btn btn-outline-primary btn-sm"
                   href="{% url 'mailing:stop_mailing' pk=mailing.pk %}">Остановить рассылку</a>
                {% else %}
                <span>Нет доступной информации для остановки рассылки.</span>
                {% endif %}
                {% if user == mailing.owner %}
                <a class="btn btn-primary btn-sm" href="{% url 'mailing:mailing_detail' mailing.pk %}">Посмотреть</a>
                <a class="btn btn-primary btn-sm" href="{% url 'mailing:mailing_update' mailing.pk %}" role="button">Редактировать</a>
                <a class="btn btn-danger btn-sm" href="{% url 'mailing:mailing_delete' mailing.pk %}"
                   role="button">Удалить</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}